.div1 {
    display: flex;
    gap: 30px;
    padding: 10px;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
}

.box {
    border: 2px solid black;
    border-radius: 5px;
    width: 650px;
    height: 50px;
    font-size: 16px;
}

#b1 {
    width: 80px;
    height: 50px;
    background-color: burlywood;
}

#b1:hover {
    background-color: blue;
}

.div2 {
    display: flex;
    gap: 20px;
    background-color: wheat;
    margin-bottom: 50px;
    cursor: pointer;
}

.div3 {
    display: flex;
    gap: 100px;
    margin: 0 180px 10px;
}

.product {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 250px; 
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px; 
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 10px; 
}

.details {
    text-align: center; 
}

.price {
    font-size: 25px;
    margin-bottom: 10px;
}

.original-price {
    text-decoration: line-through;
    color: gray;
}

.buy {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
